{%extends 'layout.html'%}

{%block content%}
<div class="col-md-8 ">

    {%for blog in blogs%}
    <div class="blog-post">
        <h2>{{blog.title}}</h2>
        <h6>
            <a href="####" class="btn btn-secondary btn-lg">{{blog.user.username}}</a>
            <a href="####" class="btn btn-secondary ">Posted on {{blog.addTime|date('Y-m-d', -480)}}</a>
            <a href="####" class="btn btn-secondary">views: {{blog.clicks}}</a>
            <a href="####" class="btn btn-secondary">comments: {{blog.comments.length}}</a>
            <a href="/?category={{blog.category.id}}" class="btn btn-secondary">tag: {{blog.category.name}}</a>
        </h6>
        <p class="blogDescription">{{blog.description}}
        </p>
        <a href="/view?blogid={{blog.id}}" class="btn btn-default btn-lg ">&nbsp正&nbsp文&nbsp&nbsp&nbsp<i class="fa fa-angle-right"></i></a>
    </div>
    {%endfor%}
    <br />
    <nav>
        <ul class="pagination">
            {%if page<=1%} <li>
            <a class="btn btn-warning btn-lg" href="?category={{category}}&page=1" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i>&nbsp 首页 &nbsp</span></a>
        </li>
            {%else%}
            <li>
                <a class="btn btn-default btn-lg" href="?category={{category}}&page={{page-1}}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-left"></i>&nbsp上页&nbsp</span>
                </a>
            </li>
            {%endif%} {%if pages>0%}
            <li><a href="####" class="btn btn-warning btn-lg">&nbsp{{page}}&nbsp/&nbsp{{pages}}&nbsp</a>
            </li>
            {%else%}
            <li><a href="####" class="btn btn-warning btn-lg">当前分类下没有内容</a>
            </li>
            {%endif%} {%if page>=pages%}
            <li>
                <a class="btn btn-default btn-lg" href="?category={{category}}&page={{pages}}" aria-label="Next">
                    <span aria-hidden="true">&nbsp末页&nbsp<i class="fa fa-angle-right"></i></span>
                </a>
            </li>
            {%else%}
            <li>
                <a class="btn btn-default btn-lg" href="?category={{category}}&page={{page+1}}" aria-label="Next">
                    <span aria-hidden="true">&nbsp下页&nbsp<i class="fa fa-angle-right"></i></span>
                </a>
            </li>
            {%endif%}
        </ul>
    </nav>
</div>


{%endblock%}