{%extends 'layout.html'%}

{%block content%}
<div class="col-md-8 ">
    <div class="blog-post">
        <h2>{{blog.title}}</h2>
        <hr>
        <h6>
            {%for category in categories%}
            {%if blog.category.toString()== category.id.toString()%}
            <a href="/?category={{category.id}}" class="btn btn-secondary btn-lg">分类：  {{category.name}}</a>
            {%else%}
            {%endif%}
            {%endfor%}
            <a href="####" class="btn btn-secondary ">发布：{{blog.addTime|date('Y-m-d', -480)}}</a>
            <a href="####" class="btn btn-secondary">点击PV：{{blog.clicks}}</a>

            {% if userInfo.isAdmin %}
            <a class="btn btn-secondary btn-lg" href="/admin/blog/edit?id={{blog.id}}">编辑本文</a>
            {% endif %}
        </h6>
        <hr>
        <p id="blogContent">{{blog.content}}
        </p>
    </div>
    <!--{% if userInfo.isAdmin %}-->
    <!--<a class="btn btn-secondary btn-lg" href="/admin/blog/edit?id={{blog.id}}">编辑本文</a>-->
    <!--{% endif %}-->
    <hr>
    <!-- Comments panel -->
    <div class="panel panel-default">
        <!-- Default panel contents -->

        {%if userInfo._id%}
        <div class="panel-heading">Comments Area: <span>共<span id="messageCount">0</span>条</span></div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label class="sr-only" for="commentContent">Comments</label>
                    <div class="input-group">
                        <div class="input-group-addon">评论：</div>
                        <input type="hidden" id="blogId" value="{{blog.id}}">
                        <textarea class="form-control" rows="3" cols="22" id="commentContent" placeholder="Comment Content"></textarea>
                    </div>
                </div>
                <button type="submit" id="commentBtn" class="btn btn-default btn-lg">评论~走你~！</button>
            <!--</form>-->
        </div>
        {%else%}
        <a class="form-control btn btn-warning" href="#loginBox" role="button">请您先登录再评论~！</a>
        {%endif%}

        <!-- List group -->
        <ul class="list-group">
            <!--<li class="list-group-item">还没留言，快来抢沙发！</li>-->

            <div class="messageList">



                <!--<div class="panel panel-default messagebox">-->
                    <!--<div class="panel-heading ">-->
                        <!--<h3 class="panel-title">留言者</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--comment content-->
                    <!--</div>-->
                <!--</div>-->

            </div>
                <ul class="pager">
                    <li class="previous"><a href="####"> 上页</a></li>
                    <li></li>
                    <li class="next"><a href="####">下页 </a> </li>
                </ul>
        </ul>
    </div>
    <br />
</div>

{%endblock%}